html,
body {
    font-family: Arial, sans-serif;
    background-color: #007bff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sign-up {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 1020px;
}

h1 {
    padding: 10px;
}

.details {
    color: #555;
}

.row {
    display: flex;
    gap: 60px;
}

label {
    color: black;
    font-weight: bold;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    width: 250px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff9a;
}